nav ul a,
nav .brand-logo {
  color: #444;
}
#logoContainer{
  text-shadow: 1px 1px 1px rgb(136, 124, 124);
}

.material-icons{
  color: rgb(236, 157, 203);
  text-shadow: 1px 1px 1px slategrey;
}
#beach {
  text-shadow: 1px 1px 1px rgb(77, 72, 72);
}


#sButton{
  background-color: rgb(146, 226, 228);
}

#location {
  font-weight: bold;
  color: white;
}

#map{
  width: 100%;
  height: 200px;
}

p {
  line-height: 2rem;
  color: #444;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
}


.light2{
  color: rgb(85, 85, 88);
  font-size: medium;
  font-weight: bold;
  text-align: center;
}



.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

footer.page-footer {
  margin: 0;
}

.bgTop{
background-color:white
}

#current-weather {
  color:rgb(184, 78, 166);
}

.mapContainer{
  width:25%;
  position: relative;
}

#tide-data0{
  text-align: center;
}
#tide-data1{
  text-align: left;
}
#tide-data2{
  text-align: right;
}
