nav ul a,
nav .brand-logo {
  color: #444;
}
#logoContainer{
  text-shadow: 1px 1px 1px rgb(136, 124, 124);
  font-size: 300%;
  font-style: italic;
}

.material-icons{
  color: rgb(236, 157, 203);
  text-shadow: 1px 1px 1px slategrey;
}
#beach {
  text-shadow: 1px 1px 1px rgb(77, 72, 72);
}
h5{
  color: rgb(71, 71, 78);
}

#sButton{
  background-color: #BBDEFB;
}

#location {
  font-weight: bold;
  color: white;
}

#map{
  width: 100%;
  height: 400px;
}

p {
  line-height: 2rem;
  color: #444;
  font-weight: bold;
  text-align: center;
}


.checks{
  text-align: left;
  font-weight: normal;
  text-shadow: 2px 1px 1px rgb(202, 133, 202);
  text-underline-position: below;
}

.light2{
  color: rgb(85, 85, 88);
  font-size: large;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(139, 134, 134);
}

.center{
  font-weight: bold;
  color: #444;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

footer.page-footer {
  margin: 0;
}

.bgTop{
background-color:white
}

/* #current-weather{

} */

.mapContainer{
  width:25%;
  position: relative;
}

#tide-data0{
  text-align: center;
}
#tide-data1{
  text-align: left;
}
#tide-data2{
  text-align: right;
}

.iris {
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  height: 50vh;
  background-size: cover;
}
